---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tjroeder/little-esty-shop/pulls?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"086deb257c0ffb4b3cc6c8021b24cf511641cf7ea1e3de6451f23c4ec6def344"
      X-Github-Media-Type:
      - github.v3; format=json
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1642005653'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"url":"https://api.github.com/repos/tjroeder/little-esty-shop/pulls/82","id":819386770,"node_id":"PR_kwDOGnncn84w1tmS","html_url":"https://github.com/tjroeder/little-esty-shop/pull/82","diff_url":"https://github.com/tjroeder/little-esty-shop/pull/82.diff","patch_url":"https://github.com/tjroeder/little-esty-shop/pull/82.patch","issue_url":"https://api.github.com/repos/tjroeder/little-esty-shop/issues/82","number":82,"state":"open","locked":false,"title":"PR:
        Issue GitHub api","user":{"login":"tjroeder","id":78194232,"node_id":"MDQ6VXNlcjc4MTk0MjMy","avatar_url":"https://avatars.githubusercontent.com/u/78194232?v=4","gravatar_id":"","url":"https://api.github.com/users/tjroeder","html_url":"https://github.com/tjroeder","followers_url":"https://api.github.com/users/tjroeder/followers","following_url":"https://api.github.com/users/tjroeder/following{/other_user}","gists_url":"https://api.github.com/users/tjroeder/gists{/gist_id}","starred_url":"https://api.github.com/users/tjroeder/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/tjroeder/subscriptions","organizations_url":"https://api.github.com/users/tjroeder/orgs","repos_url":"https://api.github.com/users/tjroeder/repos","events_url":"https://api.github.com/users/tjroeder/events{/privacy}","received_events_url":"https://api.github.com/users/tjroeder/received_events","type":"User","site_admin":false},"body":"Github
        API consumption\r\n- Gem adds JSON, HTTParty, Webmock, and VCR\r\n- Fix for
        incomplete invoices\r\n- Fixtures and VCR file adds\r\n- Github consumption
        POROs and tests\r\n- Misc formatting fixes\r\n","created_at":"2022-01-12T07:27:50Z","updated_at":"2022-01-12T07:27:50Z","closed_at":null,"merged_at":null,"merge_commit_sha":"c77f9552e1ca33d7ebe2e52dc2eae3cfb64659d6","assignee":null,"assignees":[],"requested_reviewers":[{"login":"arnaldoaparicio","id":88012780,"node_id":"MDQ6VXNlcjg4MDEyNzgw","avatar_url":"https://avatars.githubusercontent.com/u/88012780?v=4","gravatar_id":"","url":"https://api.github.com/users/arnaldoaparicio","html_url":"https://github.com/arnaldoaparicio","followers_url":"https://api.github.com/users/arnaldoaparicio/followers","following_url":"https://api.github.com/users/arnaldoaparicio/following{/other_user}","gists_url":"https://api.github.com/users/arnaldoaparicio/gists{/gist_id}","star[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tjroeder/little-esty-shop/pulls?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - '"992aaf92b487506974e4305db4a64326866f3ed48b2ba424cef8fbe4e28f72b0"'
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/444193951/pulls?per_page=100&page=1>;
        rel="prev", <https://api.github.com/repositories/444193951/pulls?per_page=100&page=1>;
        rel="last", <https://api.github.com/repositories/444193951/pulls?per_page=100&page=1>;
        rel="first"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '56'
      X-Ratelimit-Reset:
      - '1642005652'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 12 Jan 2022 15:41:17 GMT
recorded_with: VCR 6.0.0
