---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tjroeder/little-esty-shop/commits
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"f3e3d7c4098702ada823357b7d5112ef2d547e5f9408d42c63ffad90fa9d8898"
      Last-Modified:
      - Wed, 12 Jan 2022 17:28:44 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/444193951/commits?page=2>; rel="next",
        <https://api.github.com/repositories/444193951/commits?page=12>; rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '1642013357'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"04b9211fa4194937681707b5e8bd4c92abba9b1c","node_id":"C_kwDOGnncn9oAKDA0YjkyMTFmYTQxOTQ5Mzc2ODE3MDdiNWU4YmQ0YzkyYWJiYTliMWM","commit":{"author":{"name":"Arnaldo
        Aparicio","email":"88012780+arnaldoaparicio@users.noreply.github.com","date":"2022-01-12T17:28:44Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-01-12T17:28:44Z"},"message":"Merge
        pull request #83 from tjroeder/issue_github_api\n\nPR: Issue GitHub api","tree":{"sha":"dffa679570a340a17bc36e62868ec1899abcd4d3","url":"https://api.github.com/repos/tjroeder/little-esty-shop/git/trees/dffa679570a340a17bc36e62868ec1899abcd4d3"},"url":"https://api.github.com/repos/tjroeder/little-esty-shop/git/commits/04b9211fa4194937681707b5e8bd4c92abba9b1c","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJh3w/MCRBK7hj4Ov3rIwAAGVwIAFtWwB6GKSFOXmm5UpaUcVMD\n3Q8lOtFyhBu3H1T2t1k7qqd8njE2gCD0LZBJWjEd2Xlso7R5UL2+NnSyvThm3PqB\n2+UmSSbpDKZQRDzbj1f8U5RxC46JeVLN+Ilkz7NjYrMdSR2vwAD1VbGcPM3pUBSm\nmiZszPHFnJEN/8z/6eUnfuikW5Hu7SbpIXW1+cMajKOHYVrMBGqgxf3k8YI5uUlH\n11hZpjtMzqXZKFhcH7ksVMK4L4ZZ4Wo9YSHRVHlNBoZ6zWX3iaW5NPmueYnLq71C\nC+TaQ+jqR3AE2PUjj26TvMIsDzMwp4+yVa0jgDcwHKI6Js0wkBMzy2v96J2Z3BQ=\n=Pic4\n-----END
        PGP SIGNATURE-----\n","payload":"tree dffa679570a340a17bc36e62868ec1899abcd4d3\nparent
        2cb05c7328e333375c040df0db23368162e2c5f0\nparent fd14242cf7c624e2c6095368aa5543fe49d0ef2d\nauthor
        Arnaldo Aparicio <88012780+arnaldoaparicio@users.noreply.github.com> 1642008524
        -0500\ncommitter GitHub <noreply@github.com> 1642008524 -0500\n\nMerge pull
        request #83 from tjroeder/issue_github_api\n\nPR: Issue GitHub api"}},"url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/04b9211fa4194937681707b5e8bd4c92abba9b1c","html_url":"https://github.com/tjroeder/little-esty-shop/commit/04b9211fa4194937681707b5e8bd4c92abba9b1c","comments_url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/04b9211fa4194937681707b5e8bd4c92abba9b1c/comments","author":{"login":"arnaldoaparicio","id":88012780,"node_id":"MDQ6VXNlcjg4MDEyNzgw","avatar_url":"https://avatars.githubusercontent.com/u/88012780?v=4","gravatar_id":"","url":"https://api.github.com/users/arnaldoaparicio","html_url":"https://github.com/arnaldoaparicio","followers_url":"https://api.github.com/users/arnaldoaparicio/followers","following_url":"https://api.github.com/users/arnaldoaparicio/following{/other_user}","gists_url":"https://api.github.com/users/arnaldoaparicio/gists{/gist_id}","starred_url":"https://api.github.com/users/arnaldoaparicio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arnaldoaparicio/subscriptions","organizations_url":"https://api.github.com/users/arnaldoaparicio/orgs","repos_url":"https://api.github.com/users/arnaldoaparicio/repos","events_url":"https://api.github.com/users/arnaldoaparicio/events{/privacy}","received_events_url":"https://api.github.com/users/arnaldoaparicio/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"2cb05c7328e333375c040df0db23368162e2c5f0","url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/2cb05c7328e333375c040df0db23368162e2c5f0","html_url":"https://github.com/tjroeder/little-esty-shop/commit/2cb05c7328e333375c040df0db23368162e2c5f0"},{"sha":"fd14242cf7c624e2c6095368aa5543fe49d0ef2d","url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/fd14242cf7c624e2c6095368aa5543fe49d0ef2d","html_url":"https://github.com/tjroeder/little-esty-shop/commit/fd14[...]
