---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/tjroeder/little-esty-shop/commits?per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"224a23a9fd34a70d8958a6bfa3a5a14fcc6d1cc3916147fc5daf79cec2659c01"
      Last-Modified:
      - Wed, 12 Jan 2022 02:14:46 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/444193951/commits?per_page=100&page=2>;
        rel="next", <https://api.github.com/repositories/444193951/commits?per_page=100&page=4>;
        rel="last"
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1641963239'
      X-Ratelimit-Resource:
      - core
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: ASCII-8BIT
      string: '[{"sha":"3a94550f47b505580f5e7700e97d6a65d145f1e5","node_id":"C_kwDOGnncn9oAKDNhOTQ1NTBmNDdiNTA1NTgwZjVlNzcwMGU5N2Q2YTY1ZDE0NWYxZTU","commit":{"author":{"name":"Arnaldo
        Aparicio","email":"88012780+arnaldoaparicio@users.noreply.github.com","date":"2022-01-12T02:14:46Z"},"committer":{"name":"GitHub","email":"noreply@github.com","date":"2022-01-12T02:14:46Z"},"message":"Merge
        pull request #81 from tjroeder/story_5\n\nResolves #5","tree":{"sha":"c1ffffdf61d27f8f787651823b191dd2ac0030cb","url":"https://api.github.com/repos/tjroeder/little-esty-shop/git/trees/c1ffffdf61d27f8f787651823b191dd2ac0030cb"},"url":"https://api.github.com/repos/tjroeder/little-esty-shop/git/commits/3a94550f47b505580f5e7700e97d6a65d145f1e5","comment_count":0,"verification":{"verified":true,"reason":"valid","signature":"-----BEGIN
        PGP SIGNATURE-----\n\nwsBcBAABCAAQBQJh3jmWCRBK7hj4Ov3rIwAAlvEIAKtdUXj8ObIaZOD3crKVm3Jv\nXwA+x1jYFK2gc5Jw2c0nSgsKLAHiKk05ZpB7i6h0MxLQSdLfOGhoX5RIABBhU4mt\nNNxYyvcuNWg02hlWcohL8X2fH9fFqHzmsfHXg6cSEUmJwP41H8KggW6aqDAVXAeF\njogGEr2QK+nqI1D19N1GOC3PKUIR/+0qJ8kQPlcKqVek525NICZwcymGWZVr9B4g\nxCwpqdNHDsW+dImX5UeItVmjPtJPSvLfLqPEri7O0VC88a14ZP+yfPywgtWEWfmM\n/pS7UOSSyDnYUeyRxhXejxtouoyA1/2BkPyusrJcAJxfCYYONP/3IG7gbp++daY=\n=IVdG\n-----END
        PGP SIGNATURE-----\n","payload":"tree c1ffffdf61d27f8f787651823b191dd2ac0030cb\nparent
        ca4f495ce580ab42e83c858475296e4f1329b42b\nparent e4e5fafa84f5211409b02d72105d0a4fda609276\nauthor
        Arnaldo Aparicio <88012780+arnaldoaparicio@users.noreply.github.com> 1641953686
        -0500\ncommitter GitHub <noreply@github.com> 1641953686 -0500\n\nMerge pull
        request #81 from tjroeder/story_5\n\nResolves #5"}},"url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/3a94550f47b505580f5e7700e97d6a65d145f1e5","html_url":"https://github.com/tjroeder/little-esty-shop/commit/3a94550f47b505580f5e7700e97d6a65d145f1e5","comments_url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/3a94550f47b505580f5e7700e97d6a65d145f1e5/comments","author":{"login":"arnaldoaparicio","id":88012780,"node_id":"MDQ6VXNlcjg4MDEyNzgw","avatar_url":"https://avatars.githubusercontent.com/u/88012780?v=4","gravatar_id":"","url":"https://api.github.com/users/arnaldoaparicio","html_url":"https://github.com/arnaldoaparicio","followers_url":"https://api.github.com/users/arnaldoaparicio/followers","following_url":"https://api.github.com/users/arnaldoaparicio/following{/other_user}","gists_url":"https://api.github.com/users/arnaldoaparicio/gists{/gist_id}","starred_url":"https://api.github.com/users/arnaldoaparicio/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/arnaldoaparicio/subscriptions","organizations_url":"https://api.github.com/users/arnaldoaparicio/orgs","repos_url":"https://api.github.com/users/arnaldoaparicio/repos","events_url":"https://api.github.com/users/arnaldoaparicio/events{/privacy}","received_events_url":"https://api.github.com/users/arnaldoaparicio/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"sha":"ca4f495ce580ab42e83c858475296e4f1329b42b","url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/ca4f495ce580ab42e83c858475296e4f1329b42b","html_url":"https://github.com/tjroeder/little-esty-shop/commit/ca4f495ce580ab42e83c858475296e4f1329b42b"},{"sha":"e4e5fafa84f5211409b02d72105d0a4fda609276","url":"https://api.github.com/repos/tjroeder/little-esty-shop/commits/e4e5fafa84f5211409b02d72105d0a4fda609276","html_url":"https://github.com/tjroeder/little-esty-shop/commit/e4e5[...]
[...]
- request:
    method: get
    uri: https://api.github.com/repos/tjroeder/little-esty-shop/commits?page=2&per_page=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"802d4263e8b202b5b8ad3d1875c8941473a3c60356ed39f66fe126b41299a5b9"
      Last-Modified:
      - Sun, 09 Jan 2022 18:49:48 GMT
      X-Github-Media-Type:
      - gi[...]
